*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    max-height: 75vh;
}

.container{
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.line{
    min-height: 10vh;
    padding: 10px;
    background-color: rgb(14, 14, 14);
}

.box{
    height: 75vh;
    padding: 10px;
    overflow-y: auto;
}

.uno{
    background-color: rgb(26, 26, 26);
    height: 100%;
}

.due{
    background-color: rgb(14, 14, 49);
    height: 100%;
}

.col-xs-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-xs-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
    max-height: 75vh;
}

.col-xs-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
    
}

.footer{
    min-height: 15vh;
    background-color: rgb(37, 37, 37);
}