*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

main{
    max-height: 77vh;
}

.container{
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    width: 160px;
    padding-top: 5px;
    vertical-align: middle;
}

.effettua{
    line-height: 50px;
    vertical-align: middle;
    float: right;
}

.upgrade{
    border: 1px solid lightgray;
    background-color: rgb(14, 14, 14);
    color: white;
    text-align: center;
    margin-right: 30px;
    border-radius: 25px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.upgrade:hover{
    background-color: rgb(218, 218, 218);
    color: rgb(75, 75, 75);
    border-color: rgb(218, 218, 218);
    transition: 0.3s;
}

.line{
    min-height: 10vh;
    padding: 10px;
    background-color: rgb(14, 14, 14);
}

.box{
    height: 77vh;
    padding: 10px;
}

.uno{
    background-color: rgb(26, 26, 26);
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.home:hover, .ricerca:hover, .libreria:hover{
    border-left: 1px solid lime;
    color: white;
    padding-left: 12px;
    margin: 0;
    transition: 0.5s;
    margin-bottom: 20px;
    margin-top: 10px;
}

.home, .ricerca, .libreria{
    margin-top: 10px;
    color: gray;
    font-size: 25px;
    background-color: rgb(26, 26, 26);
    border: 0;
    margin-bottom: 20px;
    display: block;
    padding-left: 10px;
}

.playlist-elenco{
    padding-top: 10px;
    margin-left: 10px;
}

.crea{
    margin-top: 20px;
    color: gray;
    font-size: 25px;
    background-color: rgb(26, 26, 26);
    border: 0;
}

ul{
    margin-top: 10px;
    list-style: none;
}

.nome-playlist{
    color: gray;
    font-size: 20px;
    padding-top: 20px;
    background-color: rgb(26, 26, 26);
    border: 0;
    display: block;
}

.due{
    background-color: rgb(14, 14, 49);
    height: 100%;
    text-align: center;
    padding-top: 20px;
    overflow-y: auto;
}

.navigazione:hover{
    border-bottom: 2px solid lime;
}

.navigazione{
    color: lightgray;
    background-color: rgb(14, 14, 49);
    border: 0;
    margin-left: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.Sezione{
    padding-top: 30px;
    padding-left: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.played{
    background-color: rgb(14, 14, 49);
    border-right: 10px solid rgb(14, 14, 49);
}

.img{
    width: 100%;
}

.immagine-miniatura:hover .thumbnail{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.immagine-miniatura{
    position: relative;
    text-align: center;
}

.thumbnail{
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    padding: 50px;
    display: none;
}

.suggerimenti{
    padding-bottom: 100px;
    font-size: 14px;
    line-height: 40px;
    color: gray;
}

.col-xs-1 {
    flex-basis: calc((100% / 6) * 1);
    max-width: calc((100% / 6) * 1);
    margin-top: 20px;
}

.brani{
    padding-top: 15px;
    font-weight: 800;
    text-align: center;
}

.autori{
    padding-top: 10px;
    text-align: center;
    color: rgb(149, 149, 149);
}

.artisti{
    border-radius: 100%;
}

.col-xs-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-xs-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
    max-height: 77vh;
}

.col-xs-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

.footer{
    min-height: 13vh;
    background-color: rgb(37, 37, 37);
}

.line-d{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sinistra{
    width: 255px;
    position: relative;
}

.listening{
    width: 60px;
    margin: 17px;
    margin-top: 25px;
    border-radius: 10%;
    vertical-align:middle;
    line-height: 20px;
}

.nome{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    line-height: 20px;
    font-weight: bold;
}

.nome:hover{
    text-decoration: underline;
}

#first{
    position: absolute;
    top: 38px;
}

#second{
    font-size: 12px;
    position: absolute;
    top: 55px;
    color: gray;
}

.heart, .folder{
    background-color: rgb(37, 37, 37);
    border: 0;
    float: right;
}

.fa-heart{
    font-size: 20px;
    color: gray;
    margin-top: 43px;
}

.fa-folder{
    font-size: 20px;
    color: gray;
    margin-top: 43px;
    padding-left: 10px;
}

.centro{
    width: 50%;
}

.riproduzione{
    text-align: center;
    padding-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

.fa-random{
    padding-top: 8px;
    font-size: 25px;
}

.fa-step-backward{
    padding-top: 8px;
    padding-left: 40px;
    font-size: 25px;
}

.play{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
}

.fa-step-forward{
    padding-top: 8px;
    padding-right: 40px;
    font-size: 25px;
}

.fa-redo-alt{
    padding-top: 8px;
    font-size: 25px;
}

.timeline{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.durata{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    vertical-align: middle;
}

.barra{
    height: 8px;
    width: 650px;
    background-color:gray;
    display: flex;
    margin: 5px 10px;
    border-radius: 20px;
}

.past{
    flex-basis: calc((100% / 5) * 1);
    max-width: calc((100% / 5) * 1);
    background-color: white;
    border-radius: 20px;
}

.destra{
    margin-top: 45px;
    margin-right: 15px;
    float: right;
}

.elenco, .desktop, .audio{
    color: white;
    font-size: 20px;
    margin-right: 20px;
    vertical-align: middle;
    background-color: rgb(37, 37, 37);
    border: 0;
}

.volume{
    background-color: gray;
    color: white;
    vertical-align: middle;
}